
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p><strong>test of strong text</strong></p>
<div class="text-muted " >This text is muted so I can test to make sure bootstap works </div>
<div class="text-uppercase">this is using text-uppercase to see if it works</div>
